<div ui-content-for="navbarTopContent">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <i class="icon icon-logo"></i>
        </div>
        <div class="btn-group pull-left">
            <div class="btn sidebar-toggle" ui-toggle="uiSidebarLeft">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <p class="navbar-brand">发现推荐</p>
        <div class="btn-group pull-right">
            <div class="btn sidebar-toggle">
                <i class="fa fa-sliders" ui-sref="explore.select()"></i>
            </div>
        </div>
    </div>
</div>
<ul class="row explore">
    <li class="col-xs-6 explore-item">
        <img class="explore-img" src="" alt="发现推荐" />
        <h5 class="explore-title">CSS3赛贝尔曲线动画</h5>
        <p class="explore-content">妈妈再也不用担心我做 CSS3 动画了。</p>
    </li>
    <li class="col-xs-6 explore-item">
        <img class="explore-img" src="" alt="发现推荐" />
        <h5 class="explore-title">CSS3赛贝尔曲线动画</h5>
        <p class="explore-content">妈妈再也不用担心我做 CSS3 动画了。</p>
    </li>
    <li class="col-xs-6 explore-item">
        <img class="explore-img" src="" alt="发现推荐" />
        <h5 class="explore-title">CSS3赛贝尔曲线动画</h5>
        <p class="explore-content">妈妈再也不用担心我做 CSS3 动画了。</p>
    </li>
    <li class="col-xs-6 explore-item">
        <img class="explore-img" src="" alt="发现推荐" />
        <h5 class="explore-title">CSS3赛贝尔曲线动画</h5>
        <p class="explore-content">妈妈再也不用担心我做 CSS3 动画了。</p>
    </li>
    <li class="col-xs-6 explore-item">
        <img class="explore-img" src="" alt="发现推荐" />
        <h5 class="explore-title">CSS3赛贝尔曲线动画</h5>
        <p class="explore-content">妈妈再也不用担心我做 CSS3 动画了。</p>
    </li>
    <li class="col-xs-6 explore-item">
        <img class="explore-img" src="" alt="发现推荐" />
        <h5 class="explore-title">CSS3赛贝尔曲线动画</h5>
        <p class="explore-content">妈妈再也不用担心我做 CSS3 动画了。</p>
    </li>
</ul>