<div ui-content-for="navbarTopContent">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <i class="icon icon-logo"></i>
        </div>
        <div class="btn-group pull-left">
            <div class="btn sidebar-toggle" ui-toggle="uiSidebarLeft">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <p class="navbar-brand">发现推荐</p>
        <div class="btn-group pull-right">
            <div class="btn sidebar-toggle">
                <i class="fa fa-sliders" ui-sref="explore.select()"></i>
            </div>
        </div>
    </div>
</div>
<div class="row explore">
    <ul class="col-xs-6 explore-row">
        <li class="explore-item" ng-repeat="infoL in leftInfoList track by $index">
            <img class="explore-img" ng-src="{{infoL.picture}}" alt="发现推荐" />
            <h5 class="explore-title">{{infoL.title}}</h5>
            <p class="explore-content">{{infoL.intro}}</p>
        </li>
    </ul>
    <ul class="col-xs-6 explore-row">
        <li class="explore-item" ng-repeat="infoR in rightInfoList track by $index">
            <img class="explore-img" ng-src="{{infoR.picture}}" alt="发现推荐" />
            <h5 class="explore-title">{{infoR.title}}</h5>
            <p class="explore-content">{{infoR.intro}}</p>
        </li>
    </ul>
</div>