<div ui-content-for="navbarTopContent">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="btn-group pull-left">
            <div class="btn sidebar-toggle" ui-toggle="uiSidebarLeft">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <p class="navbar-brand">发现推荐</p>
        <div class="btn-group pull-right" go-back>取消</div>
    </div>
</div>
<div class="explore">
    <div class="row select-wrap">
        <h5 class="col-xs-12 select-title">核心基础</h5>
        <ul class="col-xs-12 select-content">
            <li class="col-xs-6 text-center">HTML</li>
            <li class="col-xs-6 text-center">CSS</li>
            <li class="col-xs-6 text-center">JS</li>
        </ul>
    </div>
    <div class="row select-wrap">
        <h5 class="col-xs-12 select-title">拓展技能</h5>
        <ul class="col-xs-12 select-content">
            <li class="col-xs-6 text-center">浏览器</li>
            <li class="col-xs-6 text-center">Node</li>
            <li class="col-xs-6 text-center">HTTP</li>
            <li class="col-xs-6 text-center">图形可视化</li>
        </ul>
    </div>
    <div class="row select-wrap">
        <h5 class="col-xs-12 select-title">工程开发</h5>
        <ul class="col-xs-12 select-content">
            <li class="col-xs-6 text-center">库</li>
            <li class="col-xs-6 text-center">框架</li>
            <li class="col-xs-6 text-center">预编译工具</li>
            <li class="col-xs-6 text-center">构建工具</li>
            <li class="col-xs-6 text-center">性能优化</li>
            <li class="col-xs-6 text-center">网络安全</li>
            <li class="col-xs-6 text-center">版本控制</li>
            <li class="col-xs-6 text-center">开发工具</li>
            <li class="col-xs-6 text-center">自动化测试</li>
        </ul>
    </div>
</div>