<div ui-content-for="navbarTopContent">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <i class="icon icon-logo"></i>
        </div>
        <div class="btn-group pull-left">
            <div class="btn sidebar-toggle" ui-toggle="uiSidebarLeft">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="navbar-brand">
            <span class="ng-scope">自我修养</span>
        </div>
    </div>
</div>
<ul class="cultivation">
    <li class="panel panel-default" ng-repeat="info in infoList track by $index">
        <h4 class="panel-heading">{{info.title}}</h4>
        <p class="panel-body">{{info.content}}</p>
    </li>
</ul>