<div ui-content-for="navbarTopContent">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="btn-group pull-left">
            <div class="btn sidebar-toggle" ui-toggle="uiSidebarLeft">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="navbar-brand">
            <span class="ng-scope">自我修养</span>
        </div>
    </div>
</div>
<ul class="cultivation">
    <li class="panel panel-default">
        <h4 class="panel-heading">移动混合应用</h4>
        <p class="panel-body">ionic封装了cordova和angular，并辅助以ngCordova来封装一些和Cordova插件。</p>
    </li>
    <li class="panel panel-default">
        <h4 class="panel-heading">移动混合应用</h4>
        <p class="panel-body">ionic封装了cordova和angular，并辅助以ngCordova来封装一些和Cordova插件。</p>
    </li>
    <li class="panel panel-default">
        <h4 class="panel-heading">移动混合应用</h4>
        <p class="panel-body">ionic封装了cordova和angular，并辅助以ngCordova来封装一些和Cordova插件。</p>
    </li>
    <li class="panel panel-default">
        <h4 class="panel-heading">移动混合应用</h4>
        <p class="panel-body">ionic封装了cordova和angular，并辅助以ngCordova来封装一些和Cordova插件。</p>
    </li>
</ul>