<div ui-content-for="navbarTopContent">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <i class="icon icon-logo"></i>
        </div>
        <div class="btn-group pull-left">
            <div class="btn" go-back>
                <i class="fa fa-arrow-left"></i>
            </div>
        </div>
        <div class="navbar-brand">
            <span class="ng-scope">{{skillDetail.title}}</span>
        </div>
    </div>
</div>
<div class="section skill">
    <div class="list-group skill-detail">
        <h4 class="skill-name">{{skillDetail.title}}</h4>
        <p class="detail-title">简介</p>
        <p class="detail-content">{{skillDetail.intro}}</p>
        <p class="detail-title">拓展</p>
        <p class="detail-content">{{skillDetail.expand}}</p>
        <p class="detail-title">书籍推荐</p>
        <ul class="book-list">
            <li class="book-item" ng-repeat="book in bookList track by $index">{{book}}</li>
        </ul>
    </div>　
</div>