<div ui-content-for="navbarTopContent">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <i class="icon icon-logo"></i>
        </div>
        <div class="btn-group pull-left">
            <div class="btn sidebar-toggle" ui-toggle="uiSidebarLeft">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="navbar-brand">
            <span class="ng-scope">个人资料</span>
        </div>
        <div class="btn-group pull-right">
            <div class="btn sidebar-toggle">
                <i class="fa fa-pencil-square-o"></i>
            </div>
        </div>
    </div>
</div>
<div class="user">
    <ul class="list-group user-info">
        <li class="list-group-item avatar">
            <img src="assets/images/avatar.jpg" alt="头像">
        </li>
        <li class="list-group-item">
            <span class="item-name">昵称：</span>
            <p class="item-info text-right">Aeo</p>
        </li>
        <li class="list-group-item">
            <span class="item-name">学校：</span>
            <p class="item-info text-right">广东工业大学</p>
        </li>
        <li class="list-group-item">
            <span class="item-name">性别：</span>
            <p class="item-info text-right">男</p>
        </li>
        <li class="list-group-item">
            <span class="item-name">目标：</span>
            <p class="item-info text-right">吃吃喝喝玩玩睡睡。</p>
        </li>
        <li class="list-group-item reset-area">
            <button class="btn reset-btn">修改密码</button>
        </li>
    </ul>
</div>
<!-- <div ui-content-for="modals">
    <div class="modal">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close">&times;</button>
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="密码">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="确认密码">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default">取消</button>
                    <button class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</div> -->