<div ui-content-for="navbarTopContent">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <i class="icon icon-logo"></i>
        </div>
        <div class="btn-group pull-left">
            <div class="btn" go-back>
                <i class="fa fa-arrow-left"></i>
            </div>
        </div>
        <div class="navbar-brand">
            <span class="ng-scope">注册</span>
        </div>
    </div>
</div>
<div class="user">
    <form role="form" class="login-wrap">
        <fieldset>
            <div class="form-group">
                <label>手机</label>
                <input type="phone" class="form-control" placeholder="手机" ng-model="userInfo.phone">
            </div>
            <div class="form-group">
                <label>昵称</label>
                <input type="text" class="form-control" placeholder="昵称" ng-model="userInfo.nick_name">
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" placeholder="密码" ng-model="userInfo.passwd">
            </div>
            <div class="form-group">
                <label>确认密码</label>
                <input type="password" class="form-control" placeholder="确认密码" ng-model="userInfo.confirm_passwd">
            </div>
        </fieldset>
        <hr>
        <button class="btn btn-success btn-block" ng-click="register()">注册</button>
    </form>
</div>