<div ui-content-for="navbarTopContent">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <i class="icon icon-logo"></i>
        </div>
        <div class="btn-group pull-left">
            <div class="btn" go-back>
                <i class="fa fa-arrow-left"></i>
            </div>
        </div>
        <div class="btn-group pull-right">
            <span ng-click="addNote()">完成</span>
        </div>
    </div>
</div>
<div class="note">
    <textarea class="edit-area" ng-model="newNote"></textarea>
</div>