<div ui-content-for="navbarTopContent">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <i class="icon icon-logo"></i>
        </div>
        <div class="btn-group pull-left">
            <div class="btn sidebar-toggle" ui-toggle="uiSidebarLeft">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="navbar-brand">
            <span class="ng-scope">便签</span>
        </div>
    </div>
</div>
<div class="note">
    <div class="time-line"></div>
    <button class="note-btn" ui-sref="note.edit()">+</button>
    <ul class="list-group note-area"> 
        <li class="list-group-item note-time">2016.05.24</li>
        <li class="list-group-item note-item">
            今天学了很多，休息的时候玩了下，也拿到了很多杯。
        </li>
        <li class="list-group-item note-item">
            今天学了很多，休息的时候玩了下，也拿到了很多杯。
        </li>
        <li class="list-group-item note-time">2016.05.24</li>
        <li class="list-group-item note-item">
            今天学了很多，休息的时候玩了下，也拿到了很多杯。
        </li>
        <li class="list-group-item note-item">
            今天学了很多，休息的时候玩了下，也拿到了很多杯。
        </li>
    </ul>
</div>