<div ui-content-for="navbarTopContent">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <i class="icon icon-logo"></i>
        </div>
        <div class="btn-group pull-left">
            <div class="btn sidebar-toggle" ui-toggle="uiSidebarLeft">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="navbar-brand">
            <span class="ng-scope">便签</span>
        </div>
    </div>
</div>
<div class="note">
    <div class="time-line"></div>
    <button class="note-btn" ui-sref="note.edit()">+</button>
    <ul class="list-group note-area"> 
        <li class="list-group-item" ng-repeat="note in noteList track by $index">
            <p class="note-time" ng-if="note.edit_time">{{note.edit_time}}</p>
            <p class="note-item">{{note.content}}</p>
        </li>
    </ul>
</div>